.my_div {
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 70px;
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 3;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}